$primaryBtn: #1eb300;


@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction
}

body {
    @include flexCenter(column);

}

header {
    @include flexCenter(row);

}

button {
    background: $primaryBtn;
  
    padding: 5px

}

.cart-item {
    @include flexCenter(column);
    height: 10em;
    width: 70vw;
    border: 1px solid;
    background: rgba($color: #d8d1d1, $alpha: 0.8);
    
}


.img {
max-width: 2em;
}

.price {
    color: #615b02;
}

.description {
    color: rgb(255, 0, 43)
}



footer {
    margin-top: 5%
}

